# === SECURITY: Sensitive Credentials ===
# Ignore GCP Service Account keys
config/*.json
gcp-service-account.json
.secrets/

# === Project Specific Ignores ===
# Ignore Airflow logs and runtime files
airflow/logs/
airflow/*.err
airflow/*.out
airflow/*.pid
airflow/airflow.db
airflow/simple_auth_manager_passwords.json.generated

# Ignore script logs and nohup outputs
*.log
nohup.out
consumer.log
producer.log
scheduler.log

# === Python & Environment ===
venv/
.venv/
env/
__pycache__/
*.py[cod]
*$py.class
.env

# === Editor Specific ===
.vscode/
.idea/
.DS_Store